body {
    background-color: red;
}

.background {
    position: relative;
    width: 700px;
    height: 370px;
    margin: 80px 0 0 150px;
    border: 5px solid black;
    border-radius: 20px;
    overflow: hidden;
}

.bg {
    width: 100%;
    display: block;
}

/* Titulo .principal e .secundario */
.titulo {
    position: absolute;
    top: 15px;
    left: 220px;
    width: 300px;
    text-align: center;
    cursor: pointer;
}

.principal {
    display: block;
    font-size: 25px;
    border-radius: 10px;
    font-family: 'arial black', sans-serif;
    color: white;
    filter: drop-shadow(0 0 15px black);
    background-color: rgb(205, 0, 0);
    transition: all 0.3s ease;
    padding: 10px;
}

.secundario {
    display: none;
    font-size: 25px;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 10px;
    font-family: 'arial black', sans-serif;
    color: yellow;
    filter: drop-shadow(0 0 15px black);
    background-color: rgb(205, 0, 0);
    padding: 10px;
}

a {
    text-decoration: none;
    font-family: 'arial black', sans-serif;
    color: yellow;
}

.titulo:hover .principal {
    display: none;
}

.titulo:hover .secundario {
    display: block;
}

/* Efeito no carro */
.carro {
    position: absolute;
    top: 115px;
    right: 5px;
    width: 85%;
    cursor: pointer;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.carro:hover {
    transform: scale(1.2);
    filter: drop-shadow(0 0 5px rgb(255, 0, 0));
}

    .page-scale {
        --scale: 1;
        transform: scale(var(--scale));
        transform-origin: top center;
        width: calc(0% / var(--scale));
    }
    
@media (max-width: 1279px)  { .page-scale { --scale: 0.45; } .background {margin: 200px 0 0 50px;}}
@media (min-width: 500px)   { .page-scale { --scale: 0.48; } }
@media (min-width: 600px)   { .page-scale { --scale: 0.58; } }
@media (min-width: 720px)   { .page-scale { --scale: 0.70; } }
@media (min-width: 830px)   { .page-scale { --scale: 0.80; } }
@media (min-width: 930px)   { .page-scale { --scale: 0.90; } }
@media (min-width: 1024px)  { .page-scale { --scale: 1.00; } } 
@media (min-width: 1100px)  { .page-scale { --scale: 1.07; } }
@media (min-width: 1200px)  { .page-scale { --scale: 1.17; } }
@media (min-width: 1300px)  { .page-scale { --scale: 1.26; } }
@media (min-width: 1440px)  { .page-scale { --scale: 1.38; } }
@media (min-width: 1600px)  { .page-scale { --scale: 1.55; } }
@media (min-width: 1680px)  { .page-scale { --scale: 1.62; } }
@media (min-width: 1800px)  { .page-scale { --scale: 1.74; } }
@media (min-width: 1920px)  { .page-scale { --scale: 1.85; } }
@media (min-width: 2560px)  { .page-scale { --scale: 2.46; } }